.portrait {
  border-radius: 6px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0.5rem auto;
  filter: grayscale(100%);
}

.about-me,
.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1.2rem auto;
  text-align: left;
}

.skills li {
  font-size: 1rem;
  margin-left: 1.2rem;
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }

  .about-me-content {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .about-me,
  .skills {
    max-width: 60vw;
    margin: 4rem auto 1.2rem auto;
  }
}

@media (min-width: 1440px) {
  .about-me,
  .skills {
    max-width: 40vw;
  }
}
