footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.2rem;
  gap: 1rem;
  margin-top: 1.2rem;
  background-color: #f9f9f9;
}

footer h2 {
  padding-top: 2rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icons i {
  font-size: 1.5rem;
}

.icons a {
  color: #2e2e2e;
}

.footer-txt {
  font-style: italic;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  footer {
    margin-bottom: 2rem;
  }
}
