h1 {
  color: #2e2e2e;
}

.hero {
  margin: 0 auto 1.2rem auto;
  text-align: left;
  max-width: 80vw;
}

.hero-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 2rem;
}

.divider-line {
  height: 1px;
  background: #2e2e2e;
  border-radius: 10px;
  margin: 2rem 0;
  width: 100%;
}

.projects {
  margin-bottom: 2rem;
}

.projects h2 {
  margin-bottom: 1.5rem;
}

.projects-content-div {
  background-color: #fffbfb;
  margin: 2em auto;
  border-radius: 6px;
  padding: 1.5rem 1rem;
  cursor: pointer;
  max-width: 90vw;
  width: 100%;
  text-align: left;
}

.projects-wrapper {
  margin: 0 auto;
  max-width: 90vw;
  width: 100%;
}

.projects img {
  width: 400px;
  display: block;
  margin: 0.5rem auto;
  max-width: 100%;
  height: auto;
}

.projects-content-div:hover {
  border: solid 1px #2e2e2e;
}

@media (min-width: 768px) {
  .hero,
  .projects-content-div,
  .projects-wrapper {
    max-width: 60vw;
  }
}

@media (min-width: 1024px) {
  .hero,
  .projects-content-div,
  .projects-wrapper {
    max-width: 40vw;
  }
  .divider-line {
    height: 1.5px;
  }
  .projects img {
    width: 600px;
  }
}
