nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
}

.logo {
  height: 15px;
}

.ham-menu {
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  width: 100%;
}

.nav-links li {
  padding: 1rem;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
}

.nav-links.active {
  display: flex;
}

.ham-menu:hover {
  color: #404040;
}

/* @media (min-width: 768px) {
  nav {
    margin: 0px 100px;
  }
}

@media (min-width: 1024px) {
  nav {
    margin: 0px 150px;
  }

  nav li {
    padding: 30px;
  }
} */
