nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  margin-bottom: 1.2rem;
}

.logo {
  height: 15px;
}

.ham-menu {
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 10;
}

.nav-links li {
  padding: 1rem;
  cursor: pointer;
}

.nav-links a {
  color: #2e2e2e;
  padding: 0.5rem;
}

.nav-links.active {
  display: flex;
}

.ham-menu:hover {
  color: #404040;
}

@media (min-width: 768px) {
  .nav-links li {
    padding: 0.2rem 1rem;
  }

  .ham-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: flex-end;
  }
}
